<% flash.each do |key,value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Softness</th>
            <th scope="col">Cuteness</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @kitten.name %></td>
            <td><%= @kitten.age %></td>
            <td><%= @kitten.softness %></td>
            <td><%= @kitten.cuteness %></td> 
            <td><%= link_to 'Edit', edit_kitten_path(@kitten) %></td>
            <td><%= link_to 'Destroy', kitten_path(@kitten), data: { "turbo-method": :delete } %></td>
        </tr> 
    </tbody>
</table>